body {
    background-color: #bef8dc43;
}

.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#pal_color {
    color: #98cbda;
}

#plant_color {
    color: #6ebd8f;
}

#catch_phrase {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #9dc195;
    margin-top: 0;
    line-height: 0px;
    letter-spacing: 5px
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
    background-color: white;
    align-content: stretch;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    width: 100vw;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 75vw;
    margin-top: 7px;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 25vw;
    font-family: 'Open Sans', sans-serif;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

/* #drop_down{
    padding:10px
}

#slidecontainer{
    padding:10px !;
    margin:1000px!;
} */