body {
  background-color: #bef8dc43;
}

.full-body-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

#pal_color {
  color: #98cbda;
}

#plant_color {
  color: #6ebd8f;
}

#catch_phrase {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #9dc195;
  margin-top: 0;
  line-height: 0px;
  letter-spacing: 5px
}

.google-colors {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
  margin-bottom: 0;
  margin-right: 3px;
}

.input-box {
  border-radius: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 12px;
  width: 600px;
  background-color: white;
  align-content: stretch;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  width: 100vw;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  width: 75vw;
  margin: 15px;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25vw;
  font-family: 'Open Sans', sans-serif;
}

.input-box img {
  height: 20px;
  width: 20px;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.input-box input {
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  outline: 0;
}

#answer-box {
  width: 1000px;
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 33.333333%;
  /* padding-left: 0; */

}

.episode-title {
  font-family: 'Kanit', sans-serif;
  width: 300px;
  font-size: 25px;
}

.rating-desc {
  font-family: 'Kanit', sans-serif;
  width: 300px;
  font-size: 17px;
}

.plant-desc {
  font-family: 'Montserrat', sans-serif;
  width: 300px;
  /* height:100px; */
  /* overflow: hidden; */
}

.popup-desc {
  font-family: 'Montserrat', sans-serif;
  /* width: 300px; */
}

.box {
  padding: 10px;
  outline: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}

.popup {
  z-index: 1 !important;
  height: 200px;
  width: 200px;
  background-color: black;
}

.submit {
  background-color: #6ebd8f;
  padding: 10px;
  /* outline: 2px solid #98cbda; */
  border-radius: 10px;
  color: black;
  text-decoration: none;
  outline: none;
  margin: 10px
}

.submit-thumbs {
  background-color: #6ebd8f;
  padding: 5px;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  outline: none;
  font-size: 24px;
}

.rating {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: darkgreen;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
  color: green;
}

.rating label input:focus:not(:checked)~.icon:last-child {
  color: darkgreen;
  text-shadow: 0 0 5px green;
}

#thumbs {
  /* background-color: aqua; */
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

.star-icons {
  color: green;
}

.star-icons-extra {
  color: green;
}

img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 7px;
}

/* #drop_down{
    padding:10px
}

#slidecontainer{
    padding:10px !;
    margin:1000px!;
} */

.pbox {
  /* background-color: black; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 17px;
  align-items: center;
}

.pbox a {
  display: inline-block;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
}

.modal {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 100 !important;
  background: rgba(170, 242, 233, 0.7);
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
}

.content {
  position: absolute !important;
  background: white !important;
  width: 500px !important;
  padding: 1em 2em !important;
  border-radius: 4px !important;
  outline: 2px solid black;
  border-radius: 10px;
}



.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #6ebd8f;
  text-decoration: none;
  font-size: 20px;
}

.modal:target{
  visibility: hidden;
  opacity: 1;
}

.popup-box {}