<!doctype html>
<meta charset="UTF-8">
<title>Plant Pal!</title>
<link rel="icon" href="https://em-content.zobj.net/thumbs/320/apple/271/potted-plant_1fab4.png">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<link rel="stylesheet" href="../static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="plant_color">Plant</h1>
                <h1 id="pal_color">Pals</h1>
                <h1>🪴</h1>
            </div>
            <h3 id="catch_phrase"><i>“Everyone deserves a plant”</i></h3>
            <div class="search">
                <div class="input-box" onclick="sendFocus()">
                    <img src ="{{ url_for('static', filename='images/mag.png') }}" alt="magnifying glass for search"/>
                    <input placeholder="Describe your Perfect Plant Pal!" id="filter-text-val" onkeyup="filterText()">
                </div>

                <div class="options">
                    <div class="option">
                        Light
                        <div class="slidecontainer">
                            <input type="range" min="1" max="4" value="1" class="slider" id="light_slider"
                                onchange="updateLightInput(this.value);">
                            <output id="light-output">1</output>
                        </div>

                    </div>
                    <div class="option">
                        Water
                        <div class="slidecontainer">
                            <input type="range" min="1" max="3" value="1" class="slider" id="water_slider"
                                onchange="updateWaterInput(this.value);">
                            <output id="water-output">1</output>
                        </div>
                    </div>
                    <div class="option">
                        Temperature
                        <div class="slidecontainer">
                            <input type="range" min="1" max="3" value="1" class="slider" id="temp_slider"
                                onchange="updateTempInput(this.value);">
                            <output id="temp-output">1</output>
                        </div>
                    </div>
                </div>
                <a href="{{ url_for('static', filename='results.html') }}">Ready to meet your perfect plant?!</a>
            </div>
        </div>
        <div id="answer-box">
        </div>
    </div>

    <script>

        var light_slider_val = document.getElementById("light_slider").value;
        var water_slider_val = document.getElementById("water_slider").value;
        var temp_slider_val = document.getElementById("temp_slider").value;

        function updateTempInput(val) {
            document.getElementById('temp-output').value = val;
            temp_slider_val = val;
        }
        function updateLightInput(val) {
            document.getElementById('light-output').value = val;
            light_slider_val = val;
        }
        function updateWaterInput(val) {
            document.getElementById('water-output').value = val;
            water_slider_val = val;
        }




        function answerBoxTemplate(title, Flowering, Light, Temperature, Humidity, Watering, Soil_Mix) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${Flowering}</p>
                <p class='episode-desc'>${Light}</p>
                <p class='episode-desc'>${Temperature}</p>
                <p class='episode-desc'>${Humidity}</p>
                <p class='episode-desc'>${Watering}</p>
                <p class='episode-desc'>${Soil_Mix}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.Botanical_Name, row.Flowering, row.Light, row.Temperature, row.Humidity, row.Watering, row.Soil_Mix)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

    </script>
</body>