<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="plant_color">Plants</h1>
                <h1 id="pal_color">Pals</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search to find your Perfect Plant Pal!" id="filter-text-val" onkeyup="filterText()">
            </div>
            Environment
            <select name="Environment" id="env">
                <option value="rural">rural</option>
                <option value="suburb">suburb</option>
                <option value="city">city</option>
            </select>
            Light<div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            Water<div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title, Flowering, Light, Temperature, Humidity, Watering, Soil_Mix) {
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${Flowering}</p>
                <p class='episode-desc'>${Light}</p>
                <p class='episode-desc'>${Temperature}</p>
                <p class='episode-desc'>${Humidity}</p>
                <p class='episode-desc'>${Watering}</p>
                <p class='episode-desc'>${Soil_Mix}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.Botanical_Name, row.Flowering, row.Light, row.Temperature, row.Humidity, row.Watering, row.Soil_Mix)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

    </script>
</body>